/*ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron */

.jumbotron h1 {
    background-color: aqua;
}

/* ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar */


nav span {
    background-color: aqua;
}

/* ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron */

.jumbotron div p a {
    background-color: aliceblue;
}

/* ESERCIZIO 4) Crea un selettore per selezionare il primo blog post */

.blog-post:first-of-type {
    background-color: aqua;
}

/* ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso */

.blog-post:first-of-type hr {
    background-color: red;
}

/* ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar */

nav span:nth-of-type(even) {
    background-color: red;
}

/* ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio") */

.blog-sidebar .list-unstyled.mb-0 li {
    background-color: aqua;
}

/* ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post */

.blog-post:nth-of-type(2) .blog-post-meta > a {
    background-color: red;
}

/* ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post */

.blog-post:nth-of-type(3) ul li:nth-of-type(2) {
    background-color: red;
}

/* ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra */

footer ~ a {
    background-color: red;
}


/* ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso */

nav.blog-pagination a ~ a {
    background-color: red;
}

/* ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer */

footer a ~ a {
    background-color: aqua;
}

p ~ a {
    background-color: green;
}


p:has(~ a) {
    background-color: blue;
}
